<div class="welcome">
    <ng-container *ngIf="!user">
        <h1 >Welcome!</h1>
        <p class="elegantshadow">For the first time here? You can easily login and buy some stylish clothes here -> <a routerLink="/auth/login">Login</a> </p>
        <p class="elegantshadow">Check on what is new -> <a routerLink="/clothes/catalog">Catalog</a> </p>
    </ng-container>

    <ng-container *ngIf="user">
        <h1>Welcome again!</h1>
        <p class="elegantshadow">Check on what is new -> <a routerLink="/clothes/catalog">Catalog</a> </p>
    </ng-container>
</div>


