
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #8ec2d8be;
    border-radius: 5px;
    padding: 15px 50px;
}

nav{
    display: flex;
    background-color: rgba(158, 124, 164, 0.515);
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
}


nav a{
    margin-top: 2em;
    padding: 5px;
    color: aliceblue;
    font-size: larger;
    text-decoration: none;
}
nav a:hover{
    color: black;
    border-bottom: 1px solid black;
}

.title{
    font-family:'Lemon';
    color:white;
    font-size: 20px;
}

